* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
    height: 100vh;
    background-color: #23252C;
}

#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    background-color: #1A1B21;
    color: #FFFFFF;
    padding: 0;
    width: 317px;
    border-radius: 10px;
}

.info{
    text-align: center;
}

.info > h1{
    font-size: 25px;
    font-weight: 600;
    margin-block: 21px 0;
    line-height: 30.26px;
}

.info > h2 {
    color: #F3BF99;
    font-family: Inter;
    font-size: 13px;
    font-weight: 200;
    line-height: 15.49px;
    margin: 0;
}

.info > h3 {
    font-size: 10px;
    font-weight: 200;
    margin-block: 9px 0;
    line-height: 15.36px
}

.info--profile-picture{
    height: 317px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.info--buttons{
    margin-top: 15px;
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.info--buttons button {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    padding-block: 9px;
    gap: 8px;
    border: 1px black solid;
    border-radius: 6px;


    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

#email {
    background-color: white;
}

#linkedin{
    background-color: #5093E2;
    color: white;
}

.about{
    padding: 0px 36px;
    margin-block: 33px 0px;
    text-align: left;
    margin-bottom: 0;
}

.about > h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}

.about > p {
    font-size: 10.24px;
    font-weight: 150;
    line-height: 15.36px;
    margin-top: 5px;
}

.interests{
    padding: 0px 36px;
    margin-block: 20px 30px;
    text-align: left;
}

.interests > h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}

.interests > p {
    font-size: 10.24px;
    font-weight: 150;
    line-height: 15.36px;
    margin-top: 5px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 72px;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;

}